<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="utf-8">
    <title>Auth0</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    {{#each css}}
        <link rel="stylesheet" type="text/css" href="/css/{{this}}">
    {{/each}}
</head>
<body>
    <div class="title">
        CS-493 HW-7 User Authentication
    </div>
    <div class="page">
        {{{body}}}
    </div>
</body>
</html>